.main{
    align-items: center;
}

.perfil{
    width: 80%;
}
.p1{
   
    color:rgb(0, 0, 0);
    font-size: 1.5em;
}

@media screen and (max-width:760px) {
    .perfil{
        display: flex;
        margin: auto;
        width: 65%;
    }
    
}