<div class="container">
<section class="main row">

    

    <div class=" col-sm-12 col-md-7  col-lg-8">
        <p  id="nombre" class="fs-3  text-justify p1"><b>Agustin Vessoni</b></p>
        <p class="fst-italic text-justify p1">Soy Argentino nacido en la Ciudad de Buenos Aires en el año 1.994. Viví la mayor parte de mi vida en Santa Rosa (La Pampa), allí  etudié en la Universidad la carrera de Abogacía. Luego de recibirme como abogado decidí estudiar programación de manera autodidacta.
        </p>
    </div>
    <div class=" col-sm-12 col-md-5  col-lg-4">
        <img src="assets/yo.jpeg" class="perfil img-fluid   bottom-50 rounded-circle">
    </div>

 
</section>
</div>