<h2>Sobre mi vida:</h2>
<section class="d-flex justify-content-around flex-wrap">
<div class="card m-2 " style="width: 18rem;">
    <img src="../../../../assets/titulo2.jpg" class="card-img-top" alt="...">
    <div class="card-body" style="background-color:rgb(255, 202, 202)">
      <h5 class="card-title">Universidad</h5>
      <p class="card-text">Estudié en la Universidad Nacional de La Pampa la carrera de Derecho. Estuve de intercambio por una beca durante 6 meses en Colombia. Me recibí en Diciembre de 2022.</p>
      
    </div>
  </div>

  <div class="card m-2" style="width: 18rem;">
    <img src="../../../../assets/scout.jpg" class="card-img-top" alt="...">
    <div class="card-body" style="background-color:rgb(255, 202, 202)">
      <h5 class="card-title">Scout</h5>
      <p class="card-text">Soy parte del movimiento scout desde los 9 años. Estuve en el Grupo Scout San Francisco de Asís desde el año 2003 hasta el 2021. Participé como beneficiario (2003-2016) y como dirigente (2017-2021).</p>
      
    </div>
  </div>

  <div class="card m-2" style="width: 18rem;">
    <img src="../../../../assets/kayak2.jpg" class="card-img-top" alt="...">
    <div class="card-body" style="background-color:rgb(255, 202, 202)">
      <h5 class="card-title">Canotaje</h5>
      <p class="card-text">Comencé a remar en el año 2016 y dejé de hacerlo en el año 2023 cuando me mudé a México. Entrené de manera competitiva y participé en varios campeonatos nacionales durante durante 5 años, luego me dedique a remar de manera recreativa para hacer actividad física.</p>
      
    </div>
  </div>
</section>