<article>
    
    <div class="divp">
        <h1>Proyectos</h1>
        <p class="p-proyectos">Aqui hay algunos de los proyectos que ya he subido a la web que he realizado en cursos o por mi cuenta:</p>
    </div>

    <div class="div-relleno">
        <ul class="lista-proyectos">
            <li><a href="https://vessoni149.github.io/Curso-React_Platzi/">
                To do list realizada con React - curso Platzi.</a></li>
            <li><a href="https://vessoni149.github.io/react-taskList-Fazt/">
                Task list realizada con React - curso Fazt -YouTube-.
            </a></li>
          
           
        </ul>
    </div>
</article>