<article>
    
    <div class="divp">
        <h1>Proyectos y prácticas</h1>
        <p class="p-proyectos">Aqui hay algunos de los proyectos y prácticas que ya he subido a la web que he realizado en cursos o por mi cuenta:</p>
    </div>

    <div class="div-relleno">
        <ul class="lista-proyectos">
            <li><a href="https://vessoni149.github.io/Curso-React_Platzi/">
                To do list realizada con React - curso Platzi.</a></li>
            <li><a href="https://vessoni149.github.io/react-taskList-Fazt/">
                Task list realizada con React - curso Fazt, YouTube.
            </a></li>
            <li><a href="https://vessoni149.github.io/contadorClicsFreeCodeCamp/">
            Contador de clics con React - FreeCodeCamp, YouTube.
            </a></li>
            <li><a href="https://vessoni149.github.io/calculadoraFreeCodeCamp/">
            Calculadora con React - FreeCodeCamp, YouTube.
            </a></li>
            <li><a href="https://vessoni149.github.io/testimoniosFreeCodeCamp/">
             Testimonios con React - FreeCodeCamp, YouTube.
            </a></li>
            <li><a href="https://vessoni149.github.io/taskListFreeCodeCamp/">
            TaskList con React - FreeCodeCamp, YouTube.
            </a></li>
        </ul>
    </div>
</article>