<h2 class="ps-2 text-center">Tecnologías</h2>
<div id="carouselExampleControls" class="carousel slide pt-5" data-bs-ride="carousel">
    <div id="carousel" class="carousel-inner">
      <div class="carousel-item active">
        <div class="circle c1"></div>
        <div class="circle c2"></div>
        <div class="circle c3"></div>
      </div>
      <div class="carousel-item">
        <div class="circle c4"></div>
        <div class="circle c5"></div>
        <div class="circle c6"></div>
      </div>
      <div class="carousel-item">
        <div class="circle c7"></div>
        <div class="circle c8"></div>
        <div class="circle c9"></div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon span-color" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon span-color" aria-hidden="true"></span>
      <span class="visually-hidden " >Next</span>
    </button>
  </div>
