<article class="pt-5 ms-3">
    <h2 class="ps-2">Educacion</h2>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educacion
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h3 class="fw-semibold">{{Educacion.nombreE}}</h3>
                    </td>
                    <td>
                        <h3 class="fw-light">{{Educacion.descripcionE}}</h3></td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<hr class="border border-5 border-danger rounded-pill">